#bod{
  background-color: yellow;
}
ul{
  text-align: center;
  list-style-type: none;
  display: inline;
}

ul li{
  display: inline;
  font-size: 20px;
}
nav h2{
  display: inline;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: right;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
nav{
  background-color: gray;
}

.statement p{
  font-size: 20px;
  text-align: center;
}

#Gplay{
  background-color: green;
  font-weight: 500;
  font-size: 20px;
  size: 100px;
  padding: 5px 15px;
  text-align: left;

}
#Aplay{
  background-color: green;
  font-weight: 500;
  font-size: 20px;
  size: 100px;
  padding: 5px 15px;
  text-align: left;

}
.landing{
  margin-left: 10%;
  max-width: 40%;
  max-height: auto;
  background-color: red;
  justify-content: center;
  padding: 10 10 10 10;
}
.landing p{
  text-align: center;
}
.landing h2{
  text-align: center;
}
